Não estou conseguindo subir o zip no AVEA
Segue link do GitHub:
https://github.com/arieldossantos2/IAUTOSMD

Requirements: Python

Na pasta do arquivo, no terminal:

Para iniciar o virtual env:
# Windows
venv\Scripts\activate
# Linux/Mac
source .venv/bin/activate

Para iniciar com o banco de dados atual:
python run.py


Se quiser começar do zero, pode iniciar um banco de dados novo, apagando/renomeando o instance/smt_inspection_new.db

Para iniciar um banco de dados do zero:
python init_sqlite.py
